<h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-zinc-800">Posts waiting for approval</h2>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-3xl">
    <div class="grid grid-cols-1 gap-6">
      @for(post of postList; track post.id){
        <div class="my-7">
          <app-post-item [post]="post" ></app-post-item>
          <div class="my-5 flex w-full">
            <a [routerLink]="['/edit-post', post.id]" class="flex w-1/2 justify-center rounded-md bg-zinc-800 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-zinc-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-700 mr-2">Edit</a>
            @if (post.author !== username){
            <a [routerLink]="['/review-post', post.id]" class="flex w-1/2 justify-center rounded-md bg-yellow-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-yellow-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-700 ml-2">Review</a>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>
