<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-3xl">
    <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-zinc-800">Posts saved as concept</h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-3xl">
    <div class="grid grid-cols-1 gap-6">
      @for(post of conceptPostList; track post.id){
        <app-post-item [post]="post" ></app-post-item>
        <a [routerLink]="['/edit-draft', post.id]" class="flex w-full justify-center rounded-md bg-zinc-800 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-zinc-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-700">Edit draft</a>
      }
    </div>
  </div>
</div>
