<h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-zinc-800">Published posts</h2>
@if (role === 'user'){
  <app-filter (filterChanged)="handleFilter($event)"></app-filter>
}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-3xl">
    <div class="grid grid-cols-1 gap-6">
      @for(post of postList; track post.id){
        <div class="my-7">
          <app-post-item [post]="post"></app-post-item>
          @if (role === 'user'){
            <a [routerLink]="['/post-detail', post.id]" class="flex w-1/2 mt-4 justify-center rounded-md bg-zinc-800 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-zinc-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-700 mr-2">Comments</a>
          }

        </div>
      }
    </div>
  </div>
</div>
